<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem; background-color: #080336;opacity: 0.5; color: white;">
        <div class="card-body">

          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password, value:"mot de passe" %> <i>(Quittez la page si vous ne voulez pas effectué les changements)</i><br />
              <%= f.password_field :password, autocomplete: "Nouveau mot de passe" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> caractère minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, value:"mot de passe de confirmation" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "Nouveau mot de passe" %>
            </div>

            <div class="field">
              <%= f.label :current_password, value:"mot de passe actuel" %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer vos changement)</i><br />
              <%= f.password_field :current_password, autocomplete: "Mot-de-passe-actuel" %>
            </div>

            <div class="actions">
              <%= f.submit "Modifier", class: "btn btn-secondary" %>
            </div>
          <% end %>

          <h3>Désactiver son compte</h3>

          <p>Unhappy? <%= button_to "Désactiver son compte", registration_path(resource_name), data: { confirm: "Etes-vous sûre?" }, method: :delete, class: "btn btn-outline-secondary" %></p>
          <%= link_to "Retour", :back, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
