
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem; background-color: #080336;opacity: 0.5; color: white;">
        <div class="card-body">
          <h2 class="card-title">Enregistrement d'un compte</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field input-form">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "Nouveau-mot-de-passe" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "Nouveau-mot-de-passe" %>
            </div>

            <div class="actions">
              <%= f.submit "S'enregistrer", class: "btn btn-secondary" %>
            </div>
          <% end %>


          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<style>
  .btn-secondary{
    background-color: #080336;
    opacity: 1;
  }
  .container{
    margin-top: 20px;
  }

</style>
