<%= form_with(model: vol) do |form| %>
  <% if vol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vol.errors.count, "error") %> prohibited this vol from being saved:</h2>

      <ul>
        <% vol.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :aeroport_dep %>
    <%= form.text_field :aeroport_dep %>
  </div>

  <div class="field">
    <%= form.label :aeroport_arr %>
    <%= form.text_field :aeroport_arr %>
  </div>

  <div class="field">
    <%= form.label :date_heure_dep %>
    <%= form.datetime_select :date_heure_dep %>
  </div>

  <div class="field">
    <%= form.label :date_heure_arr %>
    <%= form.datetime_select :date_heure_arr %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
