<%= form_with(model: vol) do |form| %>
  <% if vol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vol.errors.count, "error") %> prohibited this vol from being saved:</h2>

      <ul>
        <% vol.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :"nombre passager" %>
    <%= form.number_field :nb, in: 1..99, step: 1 %>
  </div>

  <div class="field">
    <%= form.label :"Classe affaire ?" %>
    <br><%= radio_button_tag "classe", "economique", true %> economique
    <br><%= radio_button_tag "classe", "affaire" %> affaire
    <br><%= radio_button_tag "classe", "premiere" %> Première
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>



  <%= link_to 'New Reservation', new_reservation_path(vol_id: @vol.id) %>
<% end %>

