<p id="notice"><%= notice %></p>

<div class="container">

<h1>Vols</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Numero</th>
        <th>Aeroport départ</th>
        <th>Aeroport arrivé</th>
        <th>Date heure départ</th>
        <th>Date heure arrivé</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @vols.each do |vol| %>
        <tr>
          <td><%= vol.numero %></td>
          <td><%= vol.aeroport_dep %></td>
          <td><%= vol.aeroport_arr %></td>
          <td><%= vol.date_heure_dep %></td>
          <td><%= vol.date_heure_arr %></td>

          <td><%= link_to 'Afficher', vol %></td>
         <!-- <td><%#= link_to 'Show', vol %></td>
          <td><%#= link_to 'Edit', edit_vol_path(vol) %></td>
          <td><%#= link_to 'Destroy', vol, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>

  <%== @vols.count %> / <%== Vol.count %>

  <%== pagy_nav(@pagy) %>

</div>

<br>

<%= link_to 'New Vol', new_vol_path %>
