<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @vol.numero %>
</p>

<p>
  <strong>Aeroport dep:</strong>
  <%= @vol.aeroport_dep %>
</p>

<p>
  <strong>Aeroport arr:</strong>
  <%= @vol.aeroport_arr %>
</p>

<p>
  <strong>Date heure dep:</strong>
  <%= @vol.date_heure_dep %>
</p>

<p>
  <strong>Date heure arr:</strong>
  <%= @vol.date_heure_arr %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Réserver ce vol', new_reservation_path(vol_id: @vol.id) %>
<% else %>
  <td> <%= link_to "Réserver ce vol", new_user_session_path, method: :new_user_session_path, data: { confirm: 'Vous devez vous identifier pour réserver un vol. Voulez vous continuer ?' }%> </td>
<% end %>


