<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #080336;">
  <span class="navbar-text">
    <% if !user_signed_in? %>

      <%= link_to "Accueil", vols_path, class: 'link-light nav-link', style: 'font-weight: bold;' %>
    <% else %>
      <%= link_to "Accueil", "/" , class: 'link-secondary nav-link', style: 'font-weight: bold;' %>
    <% end %>


  </span>
  <% if user_signed_in? %>
  <span class="navbar-text">
    <%= link_to "Liste vol", vols_path, class: 'link-light nav-link', style: 'font-weight: bold;' %>
  </span>
  <% end %>
  <% if user_signed_in? %>
    <span class="navbar-text">
      <%= link_to "Mes vols", reservations_path, class: 'link-light nav-link', style: 'font-weight: bold;' %>
    </span>
  <% end %>
  <% if user_signed_in? %>
    <span class="navbar-text">
      <%= link_to "Mon compte", edit_user_registration_path, class: 'link-light nav-link', style: 'font-weight: bold;' %>
    </span>
  <% end %>
  <% if !user_signed_in? %>
    <span class="navbar-text">
      <%= link_to "Login", new_user_session_path, class: 'link-light nav-link', style: 'font-weight: bold;' %>
    </span>
  <% end %>

    <% if user_signed_in? %>
      <span class="navbar-text">
        Vous etes connecté avec : <strong><%= current_user.email %></strong>.
      </span>
      <span class="navbar-text">
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: 'link-light nav-link', style: 'font-weight: bold;'  %>
      </span>
    <% else %>
      <span class="navbar-text">
        <%= link_to "Inscription", new_user_registration_path, class: 'link-light nav-link', style: 'font-weight: bold;'  %>
      </span>
    <% end %>

  <span class="navbar-text">
      <%= link_to "paths", "/userjse", class: 'link-light nav-link', style: 'font-weight: bold;' %>
    </span>

</nav>
