<!DOCTYPE html>
<html>
<head>
  <title>ProjetRuby</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= render "header" %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<h1 style="text-align: center">Acceuil</h1>

<div class="container">
<!--  <img src="https://ibp.info6tm.fr/api/v1/images/view/5c505b5e8fe56f45823a2e98/article/image.jpg" alt="Aeroport" />-->

</div>


</body>
</html>
