<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="field">-->
    <%#= form.label :classe, value:"Classe affaire ?" %>
<!--    <br><%#= radio_button_tag :classe, "economique", true %> economique-->
<!--    <br><%#= radio_button_tag :classe, "affaire" %> affaire-->
<!--    <br><%#= radio_button_tag :classe, "premiere" %> Première-->
<!--  </div>-->


  <div class="field">
    <%= form.label :classe %>
    <%= form.text_field :classe %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, value: + 1 + rand(1000...9998), :readonly => "true"%>
  </div>

  <div class="field">
    <%= form.label :nb_passager %>
    <%= form.number_field :nb_passager %>
  </div>

  <%= form.hidden_field(:vol_id) %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
