<p id="notice"><%= notice %></p>

<h1>Reservations</h1>
<div class="container">
<table class="table">
  <thead>
  <tr>
    <th>Classe</th>
    <th>Code</th>
    <th>Nb passager</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% current_user.reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.classe %></td>
        <td><%= reservation.code %></td>
        <td><%= reservation.nb_passager %></td>
        <!--        <td><%#= link_to 'Show', reservation %></td>-->
<!--        <td><%#= link_to 'Edit', edit_reservation_path(reservation) %></td>-->
        <td><%= link_to 'Supprimer', reservation, method: :delete, data: { confirm: 'Cette suppression est irréversible. Voulez vous continuer ? ' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

<br>

