<p id="notice"><%= notice %></p>

<p>
  <strong>Classe:</strong>
  <%= @reservation.classe %>
</p>

<p>
  <strong>Code:</strong>
  <%= @reservation.code %>
</p>

<p>
  <strong>Nb passager:</strong>
  <%= @reservation.nb_passager %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
