<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem; background-color: #080336;opacity: 0.5; color: white;">
        <div class="card-body">
          <h2 class="card-title">Se connecter</h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "S'enregistrer", class: "btn btn-secondary" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<style>

</style>
