// Place all the styles related to the vols controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.pagination {
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: inline;
  padding-left: 0;
  list-style: none;
}

